<section id="main-frame">
    <div id="top">
        <div id="top-right">
            <img src="assets/imagens/foto-perfil.jpg" alt="Althierfson">
        </div>
        <div id="top-left">
            <h2>Althierfson Tullio</h2>
            <h3>Formação</h3>
            <ul>
                <li>Bacharel em Ciência da Computação | 2020 <br>
                    Pela Universidade do Estado do Rio Grande do Norte (UERN).
                </li>
            </ul>
            <h3>Formações em Progresso</h3>
            <ul>
                <li>
                    Pos-Graduação em Tecnologia da Informação (TI) Modelo <i>Lato Senso</i> <br>
                    Instituto Metropole Digital (IMD) - UFRN.
                </li>
            </ul>
            <h3>Linguagens e Ferramentas</h3>
            <ul>
                <li>Desenvolvimento Mobile com <b>Flutter</b>.</li>
                <li>Desenvolvimento Web com <b>Angular</b>.</li>
                <li>Desenvolvimento de jogos para dispositivos moveis - Usando <b>Unity</b> e <b>Godot</b>.</li>
                <li>Programação em Linguagem <b>C</b>, <b>Java</b>, <b>Python</b></li>
            </ul>
            <h3>Outros Conhecimentos</h3>
            <ul>
                <li>Atualmente Atuando como Gestor de Tráfego no <a href="https://www.instagram.com/techsocialseculo21/" target="blank"><b>TechSocial</b></a></li>
                <li>Escritor no <a href="https://www.techsocial4survive.com.br/" target="blank"><b>Blog TechSocial</b></a></li>
            </ul>
        </div>
    </div>
    <div id="jobs">
        <app-jobs></app-jobs>
    </div>
</section>