<section id="main-frame">
    <div id="top">
        <div id="top-right">
            <img src="assets/imagens/foto-perfil.jpg" alt="Althierfson">
        </div>
        <div id="top-left">
            <h2>Althierfson Tullio</h2>
            <h3>Formação</h3>
            <ul>
                <li>Bacharel em Ciência da Computação | 2020 <br>
                    Universidade do Estado do Rio Grande do Norte (UERN)
                </li>
            </ul>
            <h3>Formações em Progresso</h3>
            <ul>
                <li>
                    Pos-Graduação Risidente de TI <i>Lato Senso</i> <br>
                    Instituto Metropole Digital - UFRN (IMD)
                </li>
            </ul>
            <h3>Skills</h3>
            <ul>
                <li>Atuando como Gestor de Tráfego no TechSocial</li>
                <li>Escritor do Blog TechSocial</li>
            </ul>
        </div>
    </div>
    <div id="jobs">
        <app-jobs></app-jobs>
    </div>
</section>